@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --ff-heading: 'Outfit', sans-serif;
  --ff-body: 'Roboto', sans-serif;

  --white: #fff;
  --black: #000;
  --darkblue: hsl(227, 91%, 13%);
  --lightgreen: hsl(158, 77%, 83%);
  --violet: hsl(239, 67%, 55%);
  --purple: hsl(274, 100%, 72%);
  --pink: hsl(281, 94%, 80%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

