.release {
  padding: 200px 0;
}

.release>div {
  display: flex;
  align-items: center;
  gap: 60px;
}

.release .sub-heading {
  text-align: center;
}

.release>div h2 {
  margin-top: 0px;
}

.release>div h4 {
  margin-bottom: 5px;
  opacity: 0.8;
}

.release>div p {
  margin-bottom: 50px;
}