.footer {
  margin-top: 150px;
  height: 350px;
  background-color: var(--violet);
  width: 100vw !important;
  display: grid;
  place-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer>div {
  display: flex;
  align-items: top;
  gap: 100px;
  transform: translateY(-8%)
}

.footer>div>div {
  display: flex;
  flex-direction: column;
}

.footer>div>img {
  width: 130px;
  height: 70px;
  padding-top: 30px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.footer ul li a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--ff-heading);
}

.send-email {
  position: relative;
}

.send-email input {
  width: 300px;
  height: 50px;
  position: absolute;
  background-color: var(--darkestblue);
  border: none;
  opacity: 0.8;
  border-radius: 30px;
  padding-left: 25px;
  color: var(--white);
  font-family: var(--ff-heading);
  font-size: 16px;
}

.send-email button {
  position: absolute;
  font-size: 15px;
  padding: 9px 15px;
  letter-spacing: 1px;
  right: -160px;
  top: 6px;
}