.intro {
  padding: 300px 0;
  position: relative;
}

.intro>div {
  display: flex;
  align-items: center;
  gap: 60px;
}

.intro>div h2 {
  margin-top: 0px;
}

.intro>div h4 {
  margin-bottom: 5px;
  opacity: 0.8;
}

.intro>div p {
  margin-bottom: 50px;
}

.intro-ellipse-1 {
  background-color: var(--violet);
  left: -26%;
  bottom: 10%;
}